// Fonts
$main-font: Roboto, sans-serif, Helvetica;
// Colors
$color-white: #ffffff;
$color-black: #131313;

$color-dark-light: #3c3b3d;
$color-dark: #323133;

$color-red-light: #d8334a;
$color-red-dark: #bf263c;

$color-yellow-light: #e8ce4d;
$color-yellow-dark: #e0c341;

$color-gray-light: #b3b3b3;
$color-gray-dark: #808080;

$color-blue: #3498db;
$color-green: #2ecc71;
